/* StoreButton.module.css */
.storeButton {
  display: inline-block;
  padding: 1rem 2rem;
  text-align: center;
  background-color: linear-gradient(to right, #521e1e, #000000, #020202, #923232);
  color: white;
  border-radius: 1rem;
  transition: background-color 0.3s, transform 0.3s;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

.buttonOn {
  background-color: linear-gradient(to right, #521e1e, #000000, #020202, #923232);
}

.buttonOff {
  background-color: linear-gradient(to right, #521e1e, #000000, #020202, #923232);
}

.storeButton:hover {
  background-color: linear-gradient(to right, #521e1e, #000000, #000000, #9e0707);
  transform: scale(1.05);
}

.storeButton:active {
  background-color: linear-gradient(to right, #521e1e, #000000, #020202, #923232);
  transform: scale(0.95);
}

.storeButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(15, 15, 15, 0.5);
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 600px) {
  .storeButton {
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
  }

  .storeButton img {
    width: 8rem;
    height: auto;
    text-align: center;
    display: inline-block;
  }
}
