.storeButton {
  cursor: pointer; 
}

.button {
  transition: background-color 0.5s; 
  border-radius: 1rem;
}

.buttonOn {
  background-image: linear-gradient(to right, #FF6602, #000000);
  background-image: radial-gradient(circle, #FF6602, #020202); 
  border-radius: 1rem;
}

.buttonOff {
  background-image: linear-gradient(to right, #000000, #FF6602);
  background-image: radial-gradient(circle, #030303, #000000); 
  border-radius: 2rem;
}