.footer {
    display: grid;
    place-items: center;
    background-color: rgb(12, 13, 14);
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .banner {
    width: auto;
    display: flex;
    justify-content: space-around;
  }
    
  .iconsBanner, .iconsBannerFullscreen {
    filter: invert(15%) sepia(15%) saturate(152%) hue-rotate(280deg) brightness(90%) contrast(60%);
  }
  
  .footerLinks {
    color: bisque;
    font-size: 1em;
  }
  
  .footerLinks h2 {
    margin-bottom: 0.1rem;
  }
  
  .contacto {
    width: 30rem;
    text-align: center;
  }
  
 