.buttoneliminar {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buttoneliminar:hover {
    background-color: #c9302c;
  }
  