
.nav {
  display: flex;
  gap: 10rem;
  padding-top: 1rem;
}

.buttom0 {
  
}

.bottom1 {


}

.bottom2 {

}

.buttom3 {
 
}

@media screen and (max-width: 768px) {
  .bottom2 {
    display: none;
  }
}