
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  margin-right: auto;
}

.center {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.account {
  margin-left: auto;
  margin-right: 1rem; /* Ajuste del margen derecho para dispositivos móviles */
}

.right {
  margin-left: auto;
}

.bottom {
  display: flex;
  justify-content: center;
  background-color: #020408;
  padding: 1rem;
}
.numero {
  border-radius: 0.2rem;
  width: 9rem;
}

.section {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  
}

.bottom1 {
  text-align: center;
}

.section:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .bottom {
    display: none;
  }
}