@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-image: radial-gradient(circle, #d83333, #000000);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  
}

/* Dispositivos muy pequeños (menos de 100px) */
@media screen and (max-width: 100px) {
  body {
    background-image: radial-gradient(circle, #d80505, #000000);
    background-size: cover;
  }
}

/* Teléfonos (hasta 480px) */
@media screen and (max-width: 480px) {
  body {
    background-image: radial-gradient(circle, #d80505, #000000);
    background-size: cover;
    
  }
}

/* Tablets y teléfonos grandes (hasta 768px) */
@media screen and (max-width: 768px) {
  body {
    background-image: radial-gradient(circle, #d80505, #000000);
    background-size: cover;
  }
}

/* Pantallas grandes (más de 768px) */
@media screen and (min-width: 769px) {
  body {
    background-image: radial-gradient(circle, #d83333, #000000);
    background-size: cover;
    
  }
}
