@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Estilos Generales */
body {
  background-image: radial-gradient(circle, #d83333, #000000);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: sans-serif;
  margin: 0; /* Asegúrate de que no haya márgenes en el body */
}

/* Estilos para el contenedor del spinner */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  background-image: url('/LogoWhiteFloating2.png'), linear-gradient(to right, #521e1e, #000000, #020202, #923232);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 2rem;
}

/* Media Queries */

/* Dispositivos muy pequeños (menos de 100px) */
@media screen and (max-width: 100px) {
  body {
    background-image: radial-gradient(circle, #d80505, #000000);
    background-size: cover;
  }
}

/* Teléfonos (hasta 480px) */
@media screen and (max-width: 480px) {
  body {
    background-image: radial-gradient(circle, #d80505, #000000);
    background-size: cover;
  }
}

/* Tablets y teléfonos grandes (hasta 768px) */
@media screen and (max-width: 768px) {
  body {
    background-image: radial-gradient(circle, #d80505, #000000);
    background-size: cover;
  }
}

/* Pantallas grandes (más de 768px) */
@media screen and (min-width: 769px) {
  body {
    background-image: radial-gradient(circle, #d83333, #000000);
    background-size: cover;
  }
}
