.disponible {
    background-color: rgb(243, 100, 4);
    border-radius: 1rem;
    height: 3rem;
    width: 15rem;
}

.span {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}