/* ProductosDisponiblesButton.module.css */
.disponible {
    height: 3rem;
    width: 15rem;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: none;
    background-color: #fd8331;
    color: #fff;
    border-radius: 2rem;
    font-size: 1em;
    cursor: pointer;
  }
  
  .disponible:hover {
    background-color: rgb(123, 29, 29);
  }
  
  .span {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.1em;
  }
  
  .spinnerr {
    border: 4px solid rgba(255, 255, 255, 0.1); /* Light grey */
    border-radius: 50%;
    border-top: 4px solid #fff; /* White */
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
    margin-right: 10px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  