/* ProductosDisponiblesButton.module.css */
.disponible {
    display: flex;
    align-items: center;
    padding: 0.5rem 7rem;
    border: none;
    background-color: #fd8331;
    color: #fff;
    border-radius: 2rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .disponible:hover {
    background-color: #e6491a;
  }
  
  .span {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.14em;
    padding: 0.5rem;
  }
  
  .spinnerr {
    border: 4px solid rgba(0, 0, 0, 0.1); /* Light grey */
    border-radius: 50%;
    border-top: 4px solid #fff; /* White */
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
    margin-right: 10px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  