.carouselContainer {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .imageWrapper {
    width: 100%;
    height: 30rem; /* Ajusta la altura según sea necesario */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  .carouselButton {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  
  .carouselButton:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .carouselButton:nth-of-type(1) {
    left: 0;
  }
  
  .carouselButton:nth-of-type(2) {
    right: 0;
  }
  