.container {
  display: flex;
  padding: 5rem;
  transition: background-color 0.3s ease; 
  box-shadow: 0 0.1rem 2rem rgb(86, 82, 105); 
}

.form {
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 3rem;
  width: 25rem;
  transition: background-color 0.3s ease; 
  box-shadow: 0 5rem 10rem 2rem rgb(5, 5, 5); 
}

.title {
  font-size: 1.2em;
  margin-bottom: 2rem;
}

.inputGroup {
  margin-bottom: 1rem;
}

.input {
  width: 100%;
  padding: 0.7em;
  border: solid #dacccc;
  border-radius: 0.3rem;
}

.error {
  color: #ff0000;
  font-size: 0.70em;
  margin-top: 1rem;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.button1 {
  background-color: #007bff;
  color: #ffffff;
  font-size: 1em;
  border: none;
  border-radius: 0.6rem;
  padding: 1rem;
  width: 10rem;
  height: 3rem;
  transition: background-color 0.3s ease; 
  box-shadow: 0 0.1rem 2rem rgb(225, 224, 230); 
}

.button2 {
  background-color: #ffffff;
  color: #000000;
  font-size: 1em;
  border: solid #bbaeae;
  border-radius: 0.4rem;
  padding: 1rem;
  height: 3rem;
  transition: background-color 0.3s ease; 
  box-shadow: 0 0.1rem 2rem rgb(217, 216, 224); 
}

.buttonRegister {
  color: #007bff;
  padding: 1rem;
  display: flex;
}

.button1:hover,
.button1focus {
  background-color: #0056b3; 
}

.button2:hover,
.button2focus {
  background-color: #e9eff5; 
}