.formContainer {
  height: 38rem;
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formTitle {
  margin-bottom: 1rem;
  font-size: 1rem;
  text-align: center;
  color: #333;
}

.formGroup {
  margin-bottom: 1rem;
}

.formLabel {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.formInput {
  width: 100%;
  padding: 0.1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formButton {
  width: 100%;
  padding: 0.75rem;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formButton:hover {
  background-color: #005bb5;
}

.errorMessage {
  color: red;
  margin-top: 1rem;
  text-align: center
}