.productCard {
    display: inline-block;
    margin: 0.1rem;
    width: auto;
    height: auto;
    background-color: rgb(0, 0, 0);
    border-radius: 1rem;
  }
  
  .cardContent {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 2rem;
  }
  
  .image {
    height: auto;
    max-width: 100%;
    border-top-left-radius: auto;
    border-top-right-radius: auto;
    image-rendering: auto;
    
  }
  
  .texto {
    background-color: rgb(243, 100, 4);
  }