.productCard {
    display: inline-block;
    margin: 0.1rem;
    width: auto;
    height: auto;
    background-color: rgb(226, 80, 22);
    border-radius: 0.5rem;
  }
  
  .cardContent {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 4rem;
  }
  
  .image {
    height: auto;
    max-width: 100%;
    border-top-left-radius: auto;
    border-top-right-radius: auto;
    image-rendering: auto;
    
  }
  
  .texto {
    background-color: rgb(255, 254, 253);
    border-end-end-radius: 5rem;
    border-start-start-radius: 0.1rem;
    border-width: 0.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .texto1 {
    color: rgb(0, 0, 0);
    font-size: 1.3em;
  }

  .comprar {
    height: 4rem;
    background-color: rgb(156, 238, 79);
    color: white;
    border: none;
    padding: 0.3rem 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .comprar:hover {
    background-color: #ffffff;
  }