.spinnerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    background-image: url('/LogoWhiteFloating2.png'), linear-gradient(to right, #521e1e, #000000, #020202, #923232);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999; /* Asegura que el espiner esté sobre el contenido */
  }
  
  .spinner {
    width: 18rem;
    height: 18rem;
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #ffffff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  .loadingText {
    color: #ffffff;
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: end;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  