.servicesSection {
    padding: 6rem 2rem;
    background-color: #f9f9f9;
  }
  
  .container {
    max-width: 100vh;
    margin: 0 auto;
    text-align: center;
  }
  
  .servicesGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
  }
  
  .serviceItem {
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
    width: 20rem;
    text-align: center;
  }

  .titulo {
    font-size: 2em;
  }
  